In [4]:
import pandas

In [5]:
import os

In [6]:
import jason

ModuleNotFoundError: No module named 'jason'

In [7]:
dirlist=os.listdir()
print(dirlist)

['.git', '.idea', '.ipynb_checkpoints', 'data.csv', 'data.json', 'data.xlsx', 'datacomma.txt', 'datafile .xlsx', 'datamanipulation.py', 'datasemi.txt', 'main.py', 'README.md', 'Untitled.ipynb', 'venv', 'withfiles.py']

In [8]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )

dfjson.set_index("ID")
print(dfjson)

print("============= New Execution Excel ===============")

============= New Execution Json ===============
           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114
============= New Execution Excel ===============

In [9]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )

============= New Execution Json ===============
============= New Execution Excel ===============

In [10]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )
print (dfjsaon)

============= New Execution Json ===============

NameError: name 'dfjsaon' is not defined

In [11]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )

dfjson.set_index("ID")
print(dfjson)

print("============= New Execution Excel ===============")

============= New Execution Json ===============
           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114
============= New Execution Excel ===============

In [12]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )

print(dfjason)

print("============= New Execution Excel ===============")

============= New Execution Json ===============

NameError: name 'dfjason' is not defined

In [13]:
print("============= New Execution Json ===============")

dfjson = pandas.read_json("data.json" )

print(dfjson)

print("============= New Execution Excel ===============")

============= New Execution Json ===============
           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114
============= New Execution Excel ===============

In [14]:

dfjson = pandas.read_json("https://pythonhow.com/supermarkets.json" )

print(dfjson)

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [15]:
df7=pandas.read_json("https://pythonhow.com/supermarkets.json")
df7

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [16]:
clear

In [17]:
df7=pandas.read_json("https://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [19]:
df7=pandas.read_json("https://pythonhow.com/supermarkets.json")
df7
print("============= New Execution Json ===============")
df7jason1 = df7.set_index("Address")
df7jason1

============= New Execution Json ===============

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [21]:
df7jason1.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [23]:
df7jason1.loc["ID"]

KeyError: 'the label [ID] is not in the [index]'

In [24]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df7jason1.iloc[1:4,1:4]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [27]:
df7jason1.iloc[1:4]

,City,Country,Employees,ID,Name,State
Address,,,,,,
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114

In [28]:
df7jason1.ix[3,"Name"]

C:\Users\Karanjit Singh\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

"Ben's Shop"

In [29]:
list(df7jason1.iloc["Country"])

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [Country] of <class 'str'>

In [30]:
df7jason1.drop("City",1)  # to delete row it is syntax

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [31]:
df7jason1.drop("332 Hill St",0)  # to delete row it is syntax

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [36]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [34]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [37]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [38]:
 df7jason1["Continent"]=["North America"]

ValueError: Length of values does not match length of index

In [39]:
len(df7jason1.index)

6

In [41]:
df7jason1["Continent"]*df7jason1.shape[0]*["North America"]

KeyError: 'Continent'

In [42]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [43]:
df7jason1

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [46]:
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'units',
 'util']

In [48]:
from geopy.geocoders import Nominatim

In [50]:
nom=Nominatim()

c:\program files\python36\lib\site-packages\geopy\geocoders\osm.py:138: UserWarning: Using Nominatim with the default "geopy/1.16.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

In [51]:
nom.geocode()

TypeError: geocode() missing 1 required positional argument: 'query'

In [52]:
user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"

SyntaxError: invalid syntax (<ipython-input-52-dba481d6e996>, line 1)